page-questionario {
    #select {
        background-color: #F8A6CC;
        color: #000;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .flash-card-front {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .flash-card-back {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    .paragrafo {
        word-wrap: break-word;
        white-space: normal;
    }

}
