
<ion-content padding id="page7">
  <ion-slides #slides style="height:auto">
    <ion-slide class="start-slide">
        <button ion-button color="light" (click)="nextSlide()">Start!</button>
    </ion-slide>

    <ion-slide *ngFor="let question of questions; let i = index;" >
        <!--<h3>Question {{i+1}}</h3>-->
        <!-- <flash-card [isFlipped]="question.flashCardFlipped">
            <div class="flash-card-front" [innerHTML]="question.questionText"></div>
            <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
        </flash-card> -->
        <ion-label style="color:#000000;">
            <div class="paragrafo" [innerHTML]="question.questionText"></div>
        </ion-label>

        <ion-list radio-group >
            <ion-item id="select"*ngFor="let answer of question.answers; let i = index;"  class="item-text-wrap">
                <ion-label style="word-wrap: break-word; white-space: normal;text-align: justify;">{{i+1}}. {{answer.answer}}</ion-label>
                <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered" item-height="35px"></ion-radio>
                </ion-item>
        </ion-list>

    </ion-slide>

    <ion-slide>
        <h2>Final Score: {{score}}</h2>
        <button (click)="restartQuiz()" ion-button full color="light">Start Again</button>
        <button ion-button color="positive" block on-click="goToHome()">
            Voltar para Home  
        </button>
    </ion-slide>
</ion-slides>
</ion-content>