
<ion-content padding id="page7">
  <ion-slides #slides style="height:auto">    

    <ion-slide *ngFor="let question of questions; let i = index;" >
            <h1 id="caso1-heading4" style="word-wrap: break-word; white-space: normal;text-align: justify;">
                {{question.title}}
            </h1>
            <div id="caso1-markdown2" class="show-list-numbers-and-dots">
                <p style="word-wrap: break-word; white-space: normal;text-align: justify;">
                    {{question.text}}
                </p>
                <img [src]="question.image" />
            </div>
          
        <ion-label style="color:#000000;">
            <div class="paragrafo" [innerHTML]="question.questionText"></div>
        </ion-label>

        <ion-list radio-group >
            <ion-item id="select"*ngFor="let answer of question.answers; let i = index;"  class="item-text-wrap">
                <ion-label style="word-wrap: break-word; white-space: normal;text-align: justify;">{{i+1}}. {{answer.answer}}</ion-label>
                <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered" item-height="35px"></ion-radio>
                </ion-item>
        </ion-list>

    </ion-slide>
        
    <ion-slide>
        <h2>Parabéns! Sua pontuação final é: {{score}}</h2>
        <button (click)="restartQuiz()" ion-button full color="positive">Start Again</button>
        <button ion-button color="positive" block on-click="goToHome()">
            Voltar para Home  
        </button>
        <button ion-button color="green" block on-click="goToCasoTexto()">
                Caso Texto  
        </button>
    </ion-slide>
</ion-slides>
</ion-content>